@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
    font-family: 'Rubik', sans-serif !important;
    background-image: url("../images/background.svg");
    background-size: cover;
    background-color: #f9f9f9;
    background-attachment: fixed;
    transition: all .25s ease-in-out;
}
